#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 22px;
}

body {
    font-family: Arial  , Verdana  , sans-serif;
    margin: 0px;
}

h1{
    padding-bottom: 32px;
    font-size: 1.75em; 
}

h2{
    display: none;
}

.box-row {
    margin: auto;
    gap: 24px; 
    justify-content: space-evenly;
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap; 
}

.cell-header {
    width: 104px;
    padding: 4px;
    padding-right: 16px;
    padding-left: 16px;
    align-self: flex-end;
    text-align: center;
    border: 1px black solid;
    font-size: 1.25em;
    font-weight: bold;
}

.first-color{
    background-color: #d59898;
}

.middle-color{
    background-color: #c14543;
    color: white;
}

.last-color{
    background-color: #e5d198;
}

.cell-box{
    background-color: lightgrey;
    width: 30vw;
    border: 1px black solid;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;   
}

.cell-text{
    text-align: left;
    font-size: 1em;    
    padding-left: 16px;
    padding-right: 16px;
    overflow-y: hidden;    
    max-height: 96px;
    overflow-wrap: break-word;
}

.cell-text:hover{    
    cursor: nesw-resize;
    overflow-y: scroll;
}

#mobile {
    display: none;
}

@media (max-width: 767px) {
    #main {
        margin: 48px;
        margin-top: 24px;
    }

    h1{
        padding-bottom: 0px;
        display: none;
    }

    h2{
        display: block;
        font-family: Verdana;
        align-self: flex-start;
    }

    .cell-box{
        flex-grow: 1;
        min-width: 100%;
    }

    .cell-header {
        width: auto;
        align-self: stretch;
    }

    #non-mobile {
        display: none;
    }

    #mobile {
        display: block;
    }
}

@media (max-width: 768px) {
    h1 {
        padding-bottom: 16px;
    }

    .cell-box{
        flex-grow: 1;
        min-width: 40vw;
    }
}

@media (max-width: 991px) {
    h1 {
        padding-bottom: 16px;
    }

    .cell-box{
        flex-grow: 1;
        min-width: 40vw;
    }    
}
